<nav class="navbar navbar-light bg-light justify-content-between mt-3">

  <ul class="nav nav-pills">
    <li class="nav-item">
      <button type="button" class="btn btn-info" (click)="orderTime($event)">
        Ordenar por hora<i class="fas fa-sort-amount-down-alt ml-2"></i>
      </button>
    </li>
  </ul>
  <form class="form-inline">
    <label for="search"><i class="fas fa-filter mr-1"></i>Filtrar por nombre o lugar </label>
    <input class="form-control mr-sm-2 ml-2" type="text" [(ngModel)]="search" name="search" placeholder="Buscar..."
      aria-label="Search">
  </form>
</nav>

<div class="row mt-3">
  <div @animateList class="card-columns" *ngIf="platos && platos.length; else noPlatos">
    <app-platos-item *ngFor="let plato of platos | platosFilter:search"
      [plato] = "plato" (platoEliminar)="borrarPlato(plato)">
    </app-platos-item>
  </div>

  <ng-template #noPlatos>
    <h3>Actualmente no hay ningún plato disponible.</h3>
  </ng-template>

</div>



